*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
.list-box{
    .list-top{
        h4{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
        .list-find{
            margin: 15px 0;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .goodsname{
                        width: 100px;
                    }
                }
            }
        }
    }
    .list-content{
        img{
            width: 100%;
        }
        ul{
            width: 100%;
            li{
                display: flex;
                flex-wrap: wrap;
                p{
                    width: 40%;
                    margin: 10px;
                    &:nth-child(4){
                        color: red;
                    }
                }
            }
        }
        .icons-list{
            width: 100%;
            background: rgb(197, 195, 195);
        }
    }
}
// ul li{
//     list-style: none;
// }
// .list-content img{
//     width: 100%;
// }
// .list-content ul{
//     width: 100%; 
// }
// .list-content ul li{
//     display: flex;
//     flex-wrap: wrap;
// }
// .list-content ul li p{
//     width: 40%;
//     margin: 10px;
// }
// .icons-list{
//     width: 100%;
//     background: rgb(197, 195, 195);
// }
// .list-find ul{
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .list-find ul li{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .list-find .goodsname{
//     width: 100px;
// }
// .goodscategory{
//     height: 30px;
//     border-radius: 5px;
//     border-color: rgb(216, 213, 213);
// }