.edit-box{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .edit-content{
        width: 40%;
        padding: 20px;
        background: white;
        div{
            h4{
                font-size: 20px;
            }
        }
        ul{
            li{
                margin: 10px 0;
                display: flex;
                flex-direction: column;
            }
        }
        .edit-button{
            width: 100%;
            display: flex;
            justify-content: space-around;
            Button{
                width: 20%;
            }
        }
    }
    
}